<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wtlnw.eclipse.log4j.viewer.core.events" name="LogEvent Supplier Factory" schema="schema/org.wtlnw.eclipse.log4j.viewer.core.events.exsd"/>
   <extension point="org.wtlnw.eclipse.log4j.viewer.core.events">
      <supplier-factory class="org.wtlnw.eclipse.log4j.viewer.core.impl.SerializedLogEventSupplierFactory"/>
   </extension>
</plugin>
